<div flex ng-controller="AdminContentCtrl as vm" class="content">

    <div layout="row" layout-align="center center">
        <md-whiteframe flex="70" class="md-whiteframe-11dp">
            <form name="contentForm" novalidate class="content-form" ng-submit="vm.save(contentForm)" layout="row" layout-align="center center">
                <h3 flex="20">Content</h3>
                <div flex layout="column" layout-align="center end">
                    <label>Тайтл:
                        <input type="text" name="tit" ng-model="vm.cont.title" required />
                    </label>
                    <div ng-show="contentForm.tit.$dirty && contentForm.tit.$error.required" class="md-caption red">Введите тайтл</div>

                    <label>Телефон:
                        <input type="text" name="pho" ng-model="vm.cont.phone" required />
                    </label>
                    <div ng-show="contentForm.pho.$dirty && contentForm.pho.$error.required" class="md-caption red">Введите телефон</div>

                    <label>Адрес:
                        <input type="text" name="adr" ng-model="vm.cont.address" required />
                    </label>
                    <div ng-show="contentForm.adr.$dirty && contentForm.adr.$error.required" class="md-caption red">Введите адрес</div>
                </div>
                <div flex="40" layout="row" layout-align="end center" ng-init="vm.reset(contentForm)">
                    <md-button class="md-raised" ng-click="vm.reset(contentForm)">Сброс</md-button>
                    <md-button class="md-raised md-primary" type="submit" ng-disabled="contentForm.$invalid">Сохранить</md-button>
                </div>
            </form>
        </md-whiteframe>
    </div>

</div>