<md-sidenav md-component-id="left" class="admin-sidenav">
    <div ng-controller="AdminCtrl as vm" class="admin-sidenav-wrapper" layout="column" layout-align="space-around center">
        <form name="ku" novalidate class="css-form" ng-submit="vm.go(ku)">
            <div>
                <label>Логин:
                    <input type="text" name="log" ng-model="vm.adm.login" required />
                </label>
                <div ng-show="ku.log.$dirty && ku.log.$error.required" class="md-caption red">Введите логин</div>

                <label>Пароль:
                    <input type="password" name="pass" ng-model="vm.adm.password" required />
                </label>
                <div ng-show="ku.pass.$dirty && ku.pass.$error.required" class="md-caption red">Введите пароль</div>
            </div>

            <div layout="row" layout-align="center center">
                <md-button class="md-raised" ng-click="vm.reset(ku)">Сброс</md-button>
                <md-button class="md-raised md-primary" type="submit" ng-disabled="ku.$invalid">Ввести</md-button>
            </div>
        </form>
    </div>
</md-sidenav>