<div ng-controller="ContainerCtrl as vm" ng-cloak="" class="cont" flex="55">

    <div class="padded" md-whiteframe="17">

        <section layout="column" layout-align="center center">
            <md-subheader class="md-primary" ng-bind="vm.cont.company.title"></md-subheader>
            <md-content ng-bind="vm.cont.company.description"></md-content>
        </section>

    </div>


    <div class="padded" md-whiteframe="17" ng-repeat="act in vm.cont.actions track by act.name">
        <section layout="row" layout-align="center stretch">
            <img src="photo/png/bonus.png" alt="Bookmark">
            <div layout="column">
                <md-subheader class="md-primary" ng-bind="vm.cont.actions[$index]['title']"></md-subheader>
                <md-content ng-bind="vm.cont.actions[$index]['description']"></md-content>
            </div>
        </section>
    </div>



    <div class="padded" md-whiteframe="17">

        <section layout="column" layout-align="center center">
            <md-subheader class="md-primary">Тарифные планы для физических лиц при подключении в многоквартирных домах.</md-subheader>


            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Скорость доступа к Украинскому сегменту Интернет</th>
                    <th>Скорость доступа к зарубежному сегменту Интернет</th>
                    <th>Скорость доступа к зарубежному сегменту Интернет в Ночное время (с 1:00 до 8:00)</th>
                    <th>Ежемесячная абонентская плата (с НДС)</th>
                    <th>Стоимость подключения (с НДС)</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>до 100 Мбит/с</td>
                    <td>до 50 Мбит/с</td>
                    <td>до 100 Мбит/с</td>
                    <td>60 грн.</td>
                    <td>1 грн.</td>
                </tr>
                <tr>
                    <td>до 100 Мбит/с</td>
                    <td>до 70 Мбит/с</td>
                    <td>до 100 Мбит/с</td>
                    <td>70 грн.</td>
                    <td>1 грн.</td>
                </tr>
                <tr>
                    <td>до 100 Мбит/с</td>
                    <td>до 100 Мбит/с</td>
                    <td>до 100 Мбит/с</td>
                    <td>80 грн.</td>
                    <td>1 грн.</td>
                </tr>
                </tbody>
            </table>
        </section>

    </div>





</div>