html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: #fff;
}

md-toolbar.header {
    /*opacity: 0.6;*/
    /*position: fixed;*/
    z-index: 21;
    top: 0;
    min-height: 80px;
}

md-toolbar h3 {
    margin: auto;
    font-weight: 500;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

#content {
    /*height: 2000px;*/
}



