html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    /*height: 100%;*/
    margin: 0px;
    padding: 0px;
    background: #fff;
    min-width: 700px;
}

md-toolbar.header {
    opacity: 0.7;
    position: fixed;
    z-index: 21;
    top: 0;
    height: 50px;
}

md-toolbar h3 {
    margin: auto;
    font-weight: 500;
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
}

md-toolbar .headinfo {
    width: 150px;
    font-size: 12px;
    margin: 0px 50px;
}

md-toolbar .headinfo img {
    /*position: fixed;*/
    /*top: 0;*/
    height: 50px;
    /*padding-top: 5px;*/
}

.main {
    margin-top: 70px;
    min-width: 700px;
}



.padded section>md-content {
    margin: 0 30px 30px 30px;
}
.padded section md-content {
    margin: 0 30px 30px 16px;
}


.padded section img {
    margin: 30px;
}







.table {
    text-align: center;
}
.table th {
    font-size: 12px;
    text-align: center;
}

.table>tbody>tr:nth-child(odd)>td {
    background-color: rgb(244, 247, 247);
}






.footer {
    background-color: #eceff1;
    position: relative;
    z-index: 900;
    padding: 25px 75px;
}










.whiteframe {
    /* For breakpoint `-xs` */
    /* For breakpoint `-sm` */
    /* For breakpoint `-md` */
    /* For breakpoint `-gt-md` */
}
.whiteframe md-whiteframe, .whiteframe div.padded {
    background: #fff;
    margin: 25px 50px;
    /*height: 100px;*/
}
@media (max-width: 599px) {
    .whiteframe md-whiteframe, .whiteframe div.padded {
        margin: 25px 50px;
        /*height: 50px;*/
        /*background-color: #c8e4fa; */
    }
    .whiteframe md-whiteframe > span, .whiteframe div.padded > span {
        font-size: 0.4em;
    }
}
@media (min-width: 600px) and (max-width: 959px) {
    .whiteframe md-whiteframe, .whiteframe div.padded {
        margin: 25px 50px;
        /*height: 75px;*/
    }
    .whiteframe md-whiteframe > span, .whiteframe div.padded > span {
        font-size: 0.6em;
    }
}
@media (min-width: 960px) and (max-width: 1279px) {
    .whiteframe md-whiteframe, .whiteframe div.padded {
        margin: 25px 150px;
        /*height: 90px;*/
        /*background-color: #fcddde; */
    }
    .whiteframe md-whiteframe > span, .whiteframe div.padded > span {
        font-size: 0.9em;
    }
}
@media (min-width: 1280px) {
    .whiteframe md-whiteframe, .whiteframe div.padded {
        margin: 25px 150px;
        /*height: 100px;*/
        /*background-color: #F2FCE2; */
    }
    .whiteframe md-whiteframe > span, .whiteframe div.padded > span {
        font-size: 1.0em;
    }
}


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
*/




