
md-toolbar.title {
    background-color: orangered;
    opacity: 0.7;
}
md-toolbar.title a {
    color: #fff;
}

/*//////////////////////////////////*/
.header {
    margin: 0;
}
.header md-whiteframe {
    min-width: 850px;
}
.header-form {
    margin: 20px;
}
.header-form input {
    width: 100%;
}

.md-caption.red {
    color: red;
    text-align: right;
}
 .head-form-bloks {
     margin-bottom: 10px;
 }


/*//////////////////////////////////*/
.cont {
    margin: 0;
}
.cont md-whiteframe {
    min-width: 850px;
}
.cont div hr {
    border-top: 1px solid #a4a4a4;
    margin: 10px;
}
.cont-form {
    margin: 20px;
}
.cont-form input {
    width: 100%;
}
.cont-form textarea {
    width: 100%;
}

.cont-form-bloks {
    margin-bottom: 30px;
}
.cont-form-bloks > div {
    padding-top: 10px;
}


/*//////////////////////////////////*/
.foot {
    margin: 0;
}
.foot md-whiteframe {
    min-width: 850px;
}
.foot div hr {
    border-top: 1px solid #a4a4a4;
    margin: 10px;
}
.foot-form {
    margin: 20px;
}
.foot-form input {
    width: 100%;
}
.foot-form-blocks {
    margin-bottom: 10px;
}