
md-toolbar.title {
    background-color: orangered;
    opacity: 0.7;
}
md-toolbar.title a {
    color: #fff;
}

/*//////////////////////////////////*/
.header {
    margin: 50px 0;
}
.header-form {
    margin: 20px;
}
.header-form input {
    width: 250px;
}

.md-caption.red {
    color: red;
    text-align: right;
}


/*//////////////////////////////////*/
.cont {
    margin: 50px 0;
}
.cont-form {
    margin: 20px;
}
.cont-form input {
    width: 250px;
}


/*//////////////////////////////////*/
.foot {
    margin: 50px 0;
}
.foot-form {
    margin: 20px;
}
.foot-form input {
    width: 250px;
}