<div flex ng-controller="AdminFooterCtrl as vm" class="foot">

    <div layout="row" layout-align="center center">
        <md-whiteframe flex="70" class="md-whiteframe-11dp">
            <form name="footForm" ng-submit="vm.save(footForm)" novalidate class="foot-form" layout="column">
                
                <div layout="row" layout-align="center center">
                    <div flex="50" layout="column">
                        <div class="foot-form-blocks" layout="row" layout-align="center center">
                            <div flex="30">
                                <label>Политика конф.:</label>
                            </div>
                            <div flex="70">
                                <input type="text" name="pol" ng-model="vm.foot.policy" required />
                                <div ng-show="footForm.pol.$dirty && footForm.pol.$error.required" class="md-caption red">Введите политику конфиденциальности</div>
                            </div>
                        </div>
                        <div class="foot-form-blocks" layout="row" layout-align="center center">
                            <div flex="30">
                                <label>Копирайт:</label>
                            </div>
                            <div flex="70">
                                <input type="text" name="cop" ng-model="vm.foot.copyright" required />
                                <div ng-show="footForm.cop.$dirty && footForm.cop.$error.required" class="md-caption red">Введите копирайт</div>        
                            </div>
                        </div>
                        <div ng-repeat="item in vm.foot.items track by item.icon" class="foot-form-blocks">
                            <div layout="row" layout-align="center center">
                                <div flex="30">
                                    <label>Название {{item.icon}}:</label>
                                </div>
                                <div flex="70">
                                    <input type="text" name="nam_{{$index}}" ng-model="vm.foot.items[$index]['name']" required />
                                    <div ng-show="footForm['nam_' + $index].$dirty && footForm['nam_' + $index].$error.required" class="md-caption red">Введите название</div>        
                                </div>
                            </div>
                        </div>

                        <div ng-repeat="item in vm.foot.items | filter: {icon: '!phone'} track by item.icon" class="foot-form-blocks">
                            <div layout="row" layout-align="center center">
                                <div flex="30">
                                    <label>Url {{item.icon}}:</label>
                                </div>
                                <div flex="70">
                                    <input type="text" name="url_{{$index}}" ng-model="vm.foot.items[vm.foot.items.indexOf(item)]['path_url']" required />
                                    <div ng-show="footForm['url_' + $index].$dirty && footForm['url_' + $index].$error.required" class="md-caption red">Введите url</div>
                                </div>
                            </div>
                        </div>
                    </div>            
                </div>
                <div ng-init="vm.reset(footForm)" layout="row" layout-align="end center">
                    <md-button class="md-raised" ng-click="vm.reset(footForm)">Сброс</md-button>
                    <md-button class="md-raised md-primary" type="submit" ng-disabled="footForm.$invalid">Сохранить</md-button>
                </div>

            </form>
        </md-whiteframe>
    </div>

</div>